/* General */
.section-divider {
    width: 35%;
}

p {
    color: grey;
}

.section-title {
    margin-top: 45px;
}

.section-text {
    margin-bottom: 50px;
    color: grey;
}

.section-text h3 {
    color: rgb(85, 85, 85);
    margin-top: 35px;
}

.section-text ul {
    list-style-type: disc;
    margin-left: 20px;
}

.section-text li {
    margin-bottom: 10px;
    color: grey;
}

.section-text a {
    font-weight: bold;
    text-decoration: underline;
    color: grey;
    text-decoration-color: inherit;
    transition: color 0.45s ease;
}

.section-text a:hover {
    color: black;
}

/* Home.jsx */
.home-title{
    font-size: 2.35rem;
    font-weight: bold;
    margin: 150px 150px;
    text-align: center;
    line-height: 2;
}

/* About.jsx */
.about-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 20px;
}

.about-footer-text {
    color: grey;
    text-align: center;
    font-size: 1.25rem;
    margin-top: 25px;
    max-width: 55%;
    width: 100%;
}

.about-footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 15px;
    padding: 0;
    list-style: none;
}

.about-footer-nav li {
    display: flex;
    align-items: center;
    margin: 0;
}

.about-footer-nav a {
    display: flex;
    align-items: center;
}

.about-footer-nav img {
    width: 25px;
    height: 25px;
    opacity: 1;
    transition: opacity 0.35s ease;
}

.about-footer-nav:hover img {
    opacity: 0.5;
}

.about-footer-nav img:hover {
    opacity: 1;
}

.about-footer-button {
    margin-top: 30px;
    padding: 15px 25px;
    font-size: 1.35rem;
    font-weight: bold;
    border: 3px solid black;;
    border-radius: 25px;
    cursor: pointer;
    color: black;
    background-color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.about-footer-button:hover {
    background-color: black;
    color: white;
}

/* Projects */
.project-title {
    font-size: 2.35rem;
    font-weight: bold;
    margin: 0 150px;
    margin-top: 100px;
    text-align: center;
}

.project-intro {
    font-size: 1.35rem;
    margin: 50px 150px;
    text-align: center;
    color: grey;
}

.project-page-image {
    width: 100%;
    height: auto;
    margin: 75px 0;
}

.project-intro-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.password-project-page-image {
    width: 50%;
    height: auto;
    margin-bottom: 35px;
    border-radius: 10px;
}

.project-sketch-image {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.sketch-container {
    display: inline-flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 15px;
}

.improvements-section {
    width: 90%;
    margin: 25px auto;
    padding: 20px;
}

.improvements-section h3 {
    font-size: 1.5rem;
    color: rgb(85, 85, 85);
    margin-top: 50px;
}

.improvements-section ul {
    list-style-type: disc;
    margin-left: 20px;
}

.improvements-section li {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: grey;
}
