html{
    font-family: 'Quicksand', sans-serif;
    width: 100vw;
    height: 100vw;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
}

body{
    max-width: 90%;
    margin: 0 auto;
    padding: 1rem;
}

a {
    text-decoration: none;
}